body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: #683257;
    color: #F5CD4F;
    padding: 20px;
	width: 210%;
}

/* roxinho #A47B98 */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #F5CD4F;
    text-decoration: none;
    font-weight: bold;
}

.search-form {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.search-form-text{
    margin-right: 10px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    width: 200px;
}
.search-form-button{
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.search-form button[type="submit"]:hover {
    background-color: #ccc;
}

main {
    padding: 20px;
    min-height: calc(100vh - 180px);
	width: 200%;
}

footer {
    background-color: #683257;
    color: #F5CD4F;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 210%;
    height: 80px;
}

nav ul li:hover {
    background-color: #F5E9B8;
}

nav ul li:hover a {
    color: #333;
}

.bloco-homenageados{
    display: block;
    justify-content:left;
    width: 100%;
    height: 250px;
    background-color: red;
}

.imagem-homenageados{
    width: 30%;
    height: 250px;
}

.imagens{
    width: 195px;
    height: 250px;
}

.informacoes-homenageados{
    width: 100%;
    margin: 3px 15px;
}

h1{
	font-size: 15px;
}

/* fale conosco */
 fieldset{
    display: block;
    margin: 0 auto;
    width:30%;
    height: 350px;
    border-radius: 10px;
    border: 2px solid #683257;
}

.input-text{
    margin: 5px;
    width: 300px;
}

h2{
    text-align: center;
}

.button{
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 30px;
    background-color: #683257;
    color: white;
    border-radius: 10px;
    border: 1px solid #683257;
}

.text-comentario{
    width: 380px;
    height: 80px;
    margin: 3px;
}

.container {
    display: flex;
    align-items: left;
    justify-content: left;
    max-width: 100%;
    padding: 20px;
}

.p-footer{
	text-align: center;
}

p{
	text-align: justify;
}


  
